/* Overrides owl carousel slides bg color opacity, decreasing it. */
.header .slider::after, .header::after {
    background: rgba(50,50,50,.2);
}

.logo {
    top: 12px;
}

.multimedia {
    padding-bottom: 70px;
}
.youtube-container {
	position: relative;
	padding-bottom: 56.25%; /*panorámico*/
	padding-top: 25px;
	height: 0;
}
.youtube-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.coloured-heading {
	color: #fbcc04;
}
.menu-container {
	background: #fbcc04;
}

.bar-before:before {
	background: #fbcc04;
}

@media (max-width: 469px) and (min-height: 536px) {
	.last-name {
			font-size: 50px;
	}
}